parameters:
    errorFormat: checkstyle
    level: 7
    paths:
        - app
        - config
        - route
    excludePaths:
        - app/command/Swagger.php
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#.*no value type specified in iterable type array#'
        - '#.*no type specified#'
        - '#Function .*? not found#'
        - '#undefined method .*?::join#'
        - '#undefined method .*?::group#'
        - '#app\\model.*has no return type specified#'
        - '#Call to an undefined method object::.*#'
